body{
    background-color: black;
    background-image: url("https://wallpapers.com/images/hd/netflix-background-gs7hjuwvv2g0e9fj.jpg") ;
    background-repeat: no-repeat;
    background-size:contain;
   

}
.logo
{
    width:100px;
    height:50px;
}
/* styles.css */
.login{
    text-align:center;
    padding-top:20%;
}
.linkStyle {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(248, 247, 247, 0.2); /* Light transparent red background */
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
  }
  
  .linkStyle:hover {
    background-color: red; /* Red background on hover */
  }
.faqs
{
    text-align:center;
    margin-top:20%;
    background-color: black;
    height:40em;
}
.center
{
    color:white;
    
}